*{
    margin: 0;
    padding: 0;
}
header{
    height: 800px;
    background: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner{
    text-align: right;
    margin-right: 230px;
}
.banner-title{
    color:  #151414;
    font-size: 65px;
    font-weight: 700;
}

.banner-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.banner-btn-contact{
    border: none;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* last-year */

.last-year{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px auto;
}
.last-year-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
}
.last-year-desc{
    max-width: 416px;
    color:  #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 24px 0px 16px;
}

.last-year-items li{
    list-style: none;
    margin-bottom: 8px;
    color: #444343;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
}
i{
    color: #16D887;
    margin-right: 15px;

}
/* My Plans */

.my-plans, .my-plans-title{
    text-align: center;
}

.my-plans-container{
    display: flex;
    gap: 99px;
    justify-content: space-between;
}