*{
    margin: 0;
    padding: 0;
}
header{
    height: 800px;
    background: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner{
    text-align: right;
    margin-right: 230px;
}
.banner-title{
    color:  #151414;
    font-size: 65px;
    font-weight: 700;
}

.banner-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.banner-btn-contact{
    border: none;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* last-year */

.last-year{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px auto;
}
.last-year-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
}
.last-year-desc{
    max-width: 416px;
    color:  #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 24px 0px 16px;
}

.last-year-items li{
    list-style: none;
    margin-bottom: 8px;
    color: #444343;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
}
i{
    color: #16D887;
    margin-right: 15px;

}
/* My Plans */

.my-plans, .my-plans-title{
    text-align: center;
}

.my-plans-container{
    margin-top: 50px;
    display: flex;
    gap: 99px;
    justify-content: space-between;
}

.plan>h4{
    color:  #151414;
text-align: center;
font-size: 30px;
font-weight: 700;
}
.plan>p{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* Call to action */

.call-to-action{
    background: url('/images/gradient2.png'), url('/images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height: 300px;
    margin-top: 50px;
}

.call-to-action-container{
    padding: 60px 10px 20px 65px;
}

.call-to-action-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.call-to-action-contact{
    border: none;
    border-radius: 5px;
background: #FFF;
padding: 15px 26px;
color: #F15B22;;
margin-top: 20px;
}

footer{
    max-width: 1140px;
    margin: 0 auto;
}

.columns{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    
    height: 300px;
    background-color: #000;
    color: #fff;
    padding: 150px 230px;

}

.columns h2, .columns p{
margin-bottom: 15px;
}

input{
    border: 1px solid #fff;
    background-color: #000;
    color: #000;
    padding: 10px 15px;
}